<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <table>
      <tr>
        <td>
          <p>
            Hi <%= @user.name %>,
          </p>
        </td>
      </tr>

      <tr>
        <td width="70%" height="180px" style="vertical-align: top;">
          Your breakdown for last week:

          <p>
            <table width="50%">
              <tr>
                <td>Client</td>
                <td><%= pluralize_hours(@client_hours) %></td>
              </tr>
              <tr>
                <td>Internal</td>
                <td><%= pluralize_hours(@internal_hours) %></td>
              </tr>
              <tr>
                <td colspan=2><hr/></td>
              </tr>
              <tr>
                <td>Total</td>
                <td><%= pluralize_hours(@total_hours) %></td>
              </tr>
              <tr>
                <td>Expected</td>
                <td><%= pluralize_hours(@expected_total_hours) %></td>
              </tr>
              <tr>
                <td colspan=2><hr/></td>
              </tr>
              <tr>
                <td>Missing</td>
                <td><%= pluralize_hours(@missing_hours) %></td>
              </tr>
            </table>
          </p>
        </td>

        <td>
          <img src="https://chart.googleapis.com/chart?cht=p&chd=t:<%= @client_hours %>,<%= @missing_hours %>,<%= @internal_hours %>|<%= @expected_client_hours %>,0,<%= @expected_internal_hours %>&chs=360x360&chdl=Client||Internal&chdlp=b&cht=pc&chdls=000000,24&chco=66cc00,ffffff,004876,d9f2cc,ffffff,bfd1dd" width="180" height="180" />
        </td>
      </tr>

      <tr>
        <td>
          <p>
            Happy tracking,<br/>
            <br/>
            Hourglass ⌛️
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
