<div class="form-group">
  <%= form.label :name, class: "control-label" %>
  <%= form.text_field :name, class: "form-control" %>
  <p class="help-block">First name will suffice.</p>
</div>
<div class="form-group">
  <%= form.label :email, class: "control-label" %>
  <%= form.email_field :email, class: "form-control" %>
  <p class="help-block">Must be unique.</p>
</div>
<div class="form-group">
  <%= form.label :harvest_id, class: "control-label" %>
  <%= form.text_field :harvest_id, class: "form-control" %>
  <p class="help-block">Visit <%= link_to "Harvest", "https://#{ENV["HARVEST_SUBDOMAIN"]}.harvestapp.com/people", target: "_blank" %>, click the user, copy the ID from the URL.</p>
</div>
<div class="form-group">
  <%= form.label :zenefits_name, class: "control-label" %>
  <%= form.text_field :zenefits_name, class: "form-control" %>
  <p class="help-block">Visit <%= link_to "Zenefits", "https://secure.zenefits.com/dashboard/#/employee/directory", target: "_blank" %>, copy the name exactly as it appears.</p>
</div>
<div class="form-group">
  <%= form.label :slack_id, class: "control-label" %>
  <%= form.text_field :slack_id, class: "form-control" %>
  <p class="help-block">Visit <%= link_to "Slack", "https://#{ENV["SLACK_SUBDOMAIN"]}.slack.com/admin", target: "_blank" %>, inspect the HTML, copy the value for the "data-member-id" attribute on the user's row.</p>
</div>
<div class="form-group">
  <%= form.label :workdays, class: "control-label" %>
  <%= form.select :workdays, [["Mon", 1], ["Tue", 2], ["Wed", 3], ["Thu", 4], ["Fri", 5], ["Sat", 6], ["Sun", 7]], {}, multiple: true, class: "form-control chosen", size: 7, data: { placeholder: "Select Days of the Week" } %>
  <p class="help-block">Days (excluding PTO) this user is expected to work.</p>
</div>
<div class="form-group">
  <%= form.label :time_zone, class: "control-label" %>
  <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, { default: Time.zone.name }, class: "form-control chosen" %>
</div>
<div class="form-group">
  <%= button_tag fa_icon("check", text: "Save User"), class: "btn btn-block btn-lg btn-primary", data: { disable: true } %>
</div>
