<div class="user-list container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <nav class="pull-right">
          <%= link_to fa_icon("plus", text: "Add User"), new_user_path, class: "btn btn-primary" %>
        </nav>
        <h1>
          <span class="user-list-count"><%= @users.size %></span>
          <%= "User".pluralize(@users.size) %>
        </h1>
      </div>
      <table class="user-table table table-striped">
        <thead>
          <tr>
            <th class="hidden-xs"><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:email) %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="user-row">
              <td class="user-row-name hidden-xs"><%= user.name %></td>
              <td class="user-row-email"><%= user.email %></td>
              <td class="user-row-actions text-right text-nowrap">
                <%= link_to edit_user_path(user), class: "btn btn-xs btn-default" do %>
                  <span class="visible-xs"><%= fa_icon("pencil") %></span>
                  <span class="hidden-xs">Edit</span>
                <% end %>
                <%= link_to user, method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?" } do %>
                  <span class="visible-xs"><%= fa_icon("trash") %></span>
                  <span class="hidden-xs">Archive</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
