<div class="form-group">
  <%= form.label :name, class: "col-lg-3 control-label" %>
  <div class="col-lg-3">
    <%= form.text_field :name, class: "form-control", required: true, autofocus: true %>
  </div>
</div>
<div class="form-group">
  <%= form.label :harvest_id, class: "col-lg-3 control-label" %>
  <div class="col-lg-3">
    <%= form.text_field :harvest_id, class: "form-control", required: true, pattern: '\d*' %>
  </div>
</div>
<div class="form-group">
  <%= form.label :expected_weekly_hours, class: "col-lg-3 control-label" %>
  <div class="col-lg-3">
    <%= form.text_field :expected_weekly_hours, class: "form-control", required: true, pattern: '\d*' %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-offset-3 col-lg-3">
    <%= form.submit class: "btn #{form.object.persisted? ? "btn-primary" : "btn-success"}" %>
    <%= link_to "Cancel", projects_path, class: "btn btn-default" %>
  </div>
</div>
