<h2>Projects</h2>

<nav>
  <%= link_to "Add Project", new_project_path %>
</nav>

<table id="projects">
  <thead>
    <tr>
      <th><%= t("activerecord.project.attributes.name") %></th>
      <th><%= t("activerecord.project.attributes.harvest_id") %></th>
      <th><%= t("activerecord.project.attributes.guaranteed_weekly_hours") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr class="project">
        <td class="name"><%= project.name %></td>
        <td class="harvest-id"><%= project.harvest_id %></td>
        <td class="guaranteed-weekly-hours"><%= project.guaranteed_weekly_hours %></td>
      </tr>
    <% end %>
  </tbody>
</table>
