<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "⌛️", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="top-nav">
      <ul class="nav navbar-nav navbar-right">
        <%= content_tag :li, class: ("active" if params[:controller] == "users") do %>
          <%= link_to fa_icon("user", text: "Users"), users_path %>
        <% end %>
        <%= content_tag :li, class: ("active" if params[:controller] == "teams") do %>
          <%= link_to fa_icon("group", text: "Teams"), teams_path %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
